<div class="col-lg-8 p-0">
  <div class="swiper-wrapper border">
      <swiper
      [@divState]="state" style="max-height:400px; transition: max-height 0.2s ease-out;"
          [config]="swiperConfig"
          class=""
      >
          <ng-template swiperSlide *ngFor="let b of breeds; let i = index;" >
              <div>
                  {{b}}

                  
                  <img style="width: 150px; height: 150px;"  [src]="b" />
                  
              </div>
          </ng-template>
          <div  *ngFor="let b of breeds; let i = index;"> {{b}}</div>
          {{ breeds }}
      </swiper>
    
  </div>

</div>

 <app-primary-button [color]="'cyan'" (click)="changeState()" [label]="'hide/show'"></app-primary-button>